%br/
=form_for @contact do |f|
  =render 'shared/error_messages', :target => @contact
  %div{class: "block_middle table_display"}
    %div{:class=>"table_row"}
      %span{:class=>"text_right table_cell"}
        =f.label :name
      %span{:class=>"text_left table_cell"}
        =f.text_field :name
    %div{:class=>"table_row"}
      %span{:class=>"text_right table_cell"}
      %span{:class=>"text_left table_cell"}
        =f.submit(button_name, {id: "submit_contact"})
    %br/