#errorExplanation, #error_explanation{
    width:700px;
    background-color:#e5e5e5;
    border:2px solid red;
    margin-bottom:20px;
}

#errorExplanation ul{color:red;}

#errorExplanation p{display:none;}

.field_with_errors{border: 2px solid red;}

#login_form #errorExplanation{
    margin-left:auto;
    margin-right:auto;
}

#errorExplanation, #error_explanation, .field_with_errors{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

body{font-family:Verdana;}


