$form_width: 500px;
$page_width: 1100px;
$above_translucent_background: 200;

@mixin top_radius($radius){
    -webkit-border-top-left-radius:$radius;
    -moz-border-radius-topleft:$radius;
    border-top-left-radius:$radius;
    -webkit-border-top-right-radius:$radius;
    -moz-border-radius-topright:$radius;
    border-top-right-radius:$radius;
}
@mixin top_right_radius($radius){
  -webkit-border-top-right-radius:$radius;
  -moz-border-radius-topright:$radius;
  border-top-right-radius:$radius;
}
@mixin top_left_radius($radius){
  -webkit-border-top-left-radius:$radius;
  -moz-border-radius-topleft:$radius;
  border-top-left-radius:$radius;
}

@mixin bottom_radius($radius){
    -webkit-border-bottom-left-radius:$radius;
    -moz-border-radius-bottomleft:$radius;
    border-bottom-left-radius:$radius;
    -webkit-border-bottom-right-radius:$radius;
    -moz-border-radius-bottomright:$radius;
    border-bottom-right-radius:$radius;
}

@mixin all_radii($radius){
  -webkit-border-radius:$radius;
  -moz-border-radius:$radius;
  border-radius:$radius;
}

@mixin cursor_type($cursor){
    cursor:$cursor;
}

.block_middle{
    margin-left:auto;
    margin-right:auto;
}

.text_middle{text-align:center;}
.text_right{text-align:right;}
.text_left{text-align:left;}

.table_display{display:table;}
.table_row{display:table-row;}
.table_cell{display:table-cell;}

.bold_text{font-weight: bold;}
.red_text{color:red}
.green_text{color:green}

a.login_link, a.edit_link, a.delete_link{text-decoration:none;font-weight:bold}
a.login_link:hover, a.edit_link:hover, a.delete_link:hover{text-decoration:none;color:#444} /* a link when the user mouses over it */
a.login_link:active, a.edit_link:active, a.delete_link:active{text-decoration:none;color:magenta} /* a link the moment it is clicked */
a.edit_link, a.delete_link{color:#000;font-weight:200;}


div.flash_error, div.flash_success, div.flash_notice{
    $flash_width:512px;
    $margin-right:$page_width/2-$flash_width/2;
    @extend .text_middle;
    @extend .red_text;
    position:relative;
    bottom:23px;
    z-index:$above_translucent_background;
    @include all_radii(4px);
    border: 1px solid red;
    background-color:#222;
    padding:3px;
    width:$flash_width;
    float:right;
    margin-right:$margin-right;
}
div.flash_success{ border: 1px solid green; color: green; }
div.flash_notice{ border: 1px solid green; color:orange; }

#translucent_background{
    display:none;
    margin:0px 0px 0px 0px;
    position:fixed;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index:100;
    background-color:#000;
    opacity:.7;
}

input[type="text"], input[type*="password"], #submit_registrant, #submit_login, #submit_contact{
    margin-left:7px;
}

#submit_registrant, #submit_login, #submit_contact{
    @include cursor_type(pointer);
    margin-top:11px;
}

body#main{
      @include bottom_radius(6px);
      margin-top:0px;
      border:1px solid #bbb;
      border-top:none;
      width: $page_width;
}

header#main_header{
    /*background-color: #ccc;*/
}

article#main_content{
    background-color: #eee;
    padding: 22px 0 22px 0;
}

h1#page_header{
    margin-top:0;
    position:relative;
    top:20px;
}

div#registration_form, div#login_form, div#new_contact_form, div#edit_contact_form{
    position:relative;
    @include all_radii(6px);
    @extend .block_middle;
    border: 1px solid black;
    width: $form_width;
    z-index:$above_translucent_background;
}

#errorExplanation, #error_explanation{
    position:relative;
    @extend .block_middle;
    width: $form_width;
    padding: 5px 0 5px 7px;
    right:6px;
}

.close_element{
    @include cursor_type(pointer);
    display:inline-block;
    width:24px;
    height:24px;
    background-repeat:no-repeat;
    background-image:url('close_window_dark.png');
    background-position:top left;
    &:hover{background-position:bottom left;}
}

#close_registration, #close_new_contact, #close_edit_contact{
    position:relative;
    left: 465px;
    bottom: 30px;
}

#user_authentication{
    @extend .text_right;
    padding: 0 11px 3px 0;
    font-size: 11px;
    background-color:#ccc;
}

table#contacts_table{
    $left_padding:13px;
    width: 400px;
    border-collapse: collapse;
    th, td{ border:none; }
    td{padding-left:$left_padding;}
    tr:nth-child(n+2){background-color: #bbb;}
    tr:nth-of-type(even){background-color: #ddd;}
    th{ background-color:#666; text-align:left; padding-left:$left_padding;}
    th.left_round{ @include top_left_radius(10px); }
    th.right_round{ @include top_right_radius(10px); }
    caption{font-weight:bold;}
}

div#home_description{
    @include all_radii(20px);
    @extend .block_middle;
    font-size: 22px;
    font-family: serif;
    font-weight: bold;
    color: #555;
    border: 2px solid #444;
    width: 400px;
    padding: 11px;
    text-align: justify;
}

